@import "tailwindcss";

@theme {
  --font-archivo: "Archivo Black","sans-serif";
}

.editor-bgc{
  background-color: #1C1C1C;
}
.editor-block-title-color {
  color: #b2b8c5;
}

.editorSmallButton-hover-bgc:hover {
  background-color: #5a5f73;
}

.editor-resizer-border-color {
  border-color: #2D2D2D;
}